
body {
background-color: rgb(205, 206, 199);
}

.HeaderNav {
    display: flex;
    width: calc(100%);
    flex-wrap: wrap;
    flex-direction: row;
    height: 200px;
    border: 2px black solid;
}

.HeaderNav > H2 {
    padding: 60px 550px;
}

ul {
    list-style-type: none;
    overflow: hidden;
    background-color: rgb(153,51,51);
    width: calc(100%);
    position: sticky;
    top: 0;
}

 li {
    float: left;
    }

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 15px 200px; 
    text-decoration: none;
}

li a:hover {
    background-color: whitesmoke;
}

.p1 {
}

table, th, td {
    border: 1px solid black;
  }

  th, td {
    padding: 7px;
    margin: 7px;
  }

.tableleft {
    float: left;
}

.schedules {
    display: flex;
   flex-wrap: wrap;
   padding: 15px;
   justify-content: space-between;
   margin-left: 175px;
   margin-right: 175px;
}